<h1>New product</h1>
<br>
<br>
<hr>
<% if @product.errors.any? %>
  <h3>Oops there were some errors. Please try again:</h3>
  <ul>
    <% @product.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <br>
  <%= f.text_field :name %>
  <br>
  <%= f.label :cost %>
  <br>
  <%= f.number_field :cost, class: :text_field, step: :any %>
  <br>
  <%= f.label :origin %>
  <br>
  <%= f.text_field :origin %>
  <br>
  <%= f.submit  %>
<% end %>
